<style type="text/css" >
.body {
    font-size:20;
    overflow:scroll;
}
.succ-pop{
    width: 400px;
    height: 300px;
    background: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -150px;
    z-index: 999;
    border-radius: 5px;
    border:3px solid #000;
    display:none;
} 
button {
    font-size:20}
input {
    font-size:20}

.inner td{
    border :10px
}
#opt { 
   margin-left:20px;
    overflow:scroll;
    height: 700px;
}

.inner button{
    margin-bottom:3px;
    padding-bottom:3px;
    margin-top:3px;
    padding-top:3px;
    padding-left:6px;
    padding-right:6px;
}
</style>
<div id="opt">
<hr>
<hr>
<h2>ICTOP<h4> - 生命不息 运维不止, 欢迎来到昆仑健康智能运维平台</h4></h2>
<h3>自动监控：{{.console_status}}
<h3><input type="button"  value="手动刷新" id ="reload"></h3>
<hr>
<table border=1 style="background-color:#333333">
<tr><th>env</th><th>cluster</th><th>pc</th><th>opt</th><th>config</th></tr>
 {{range $item := .envs}}
 <tr><td>{{ $item.Title }}</td>
 <td><center>{{$item.Number}}</center></td>
 {{ if eq $item.Name "product"}}
<td><a href="http://www.kunlunhealth.com.cn" target="blank">{{$item.Pc }}</a></td>
{{else}}
  {{ $pre:=$item.Name}}
<td><a href="http://{{$pre}}www.kunlunhealth.com.cn" target="blank">{{$item.Pc }}</a></td>
{{end}}
 <td>
 <table  width="600px" border="1" class="inner">
 <tr><th>前端</th><th>后端</th><th>存储</th><th>中间件</th></tr> 
 <tr><th>
 <button type="button"  style="border:1px solid #FF9933 ;" id="{{$item.Name}}-front-update">前端更新</button>
 </th>
 <th>
 <button type="button"  style="border:1px solid #FF9933 ;" id="{{$item.Name}}-end-update">JAVA更新</button>
 </th><th>
 <button type="button"  style="border:1px solid #FF9933 ;" id="{{$item.Name}}-data-restart">数据库重启</button>
 </th><th>
 <button type="button"  style="border:1px solid #FF9933 ;" id="{{$item.Name}}-middle-restart">中间件重启</button>
 </th></tr>
 <tr><th>
 <button type="button"  style="border:1px solid #FF9933 ;" id="{{$item.Name}}-front-restart">前端重启</button>
 </th><th>
 <button type="button"  style="border:1px solid #FF9933 ;" id="{{$item.Name}}-end-restart">JAVA重启</button>
 </th><th>
 <button type="button"  style="border:1px solid #FF9933 ;" id="{{$item.Name}}-data-backup">数据库备份</button>
 </th></tr>
 <tr>
 <th>
 <button type="button"  style="border:1px solid #FF9933 ;" id="{{$item.Name}}-pc-update">官网更新</button>
 </th>
 <th></th><th></th><th></th>
 </tr>
 <tr>
 <th>
 <button type="button"  style="border:1px solid #FF9933 ;" id="{{$item.Name}}-wechat-update">微信更新</button>
 </th>
 <th>
 <button type="button"  style="border:1px solid #FF9933 ;" id="{{$item.Name}}-proxy-update">开放平台更新</button>
 </th><th></th><th></th>
 </tr>
 <tr>
 <th>
 <button type="button"  style="border:1px solid #FF9933 ;" id="{{$item.Name}}-admin-update">后台更新</button>
 </th>
 <th>
  <button type="button"  style="border:1px solid #FF9933 ;" id="{{$item.Name}}-proxy-restart">开放平台重启</button>
</th><th></th><th></th>
 </tr>


 <tr>
 <th>
 <button type="button"  style="border:1px solid #FF9933 ;" id="{{$item.Name}}-agent-update">代理人更新</button>
 </th>
 <th></th><th></th><th></th>
 </tr>

 </table>
 <input type="password" id="{{$item.Name}}-pwd" placeholder="执行密码" />
 </td>
 <td>
  <span name="update_all" id="{{$item.Name}}">全局更新</span><br/>
 <span><a style="color: #FFF;" href="{{$item.Api}}/platform/flushConfig" target="_blank">刷新服务器配置</a></span> | 
 <span><a style="color: #FFF;" href="{{$item.Api}}/platform/serverStatus" target="_blank">查看服务状态</a></span><br/> 
 <span name="config" id="{{$item.Name}}">查看</span> | <span name="change_config" id="{{$item.Name}}">编辑</span></td><tr>
 {{end}}
</table>
<div class="succ-pop" id="update_all">
<br><br><br>
<br><br>
<center>
<span style="color:red;"  id="update_all_content"></span>
</center>
<center>
<input type="button"  id="update_all_close" value="关闭"/>
</center>
</div>
<div class="succ-pop" id="change_div" >
    <center><span>    密码: </span><span><input id="change_pwd" type="password"></span></center>
    <p><input id="change_name" type="hidden" ></p>
    <center><span>    内容: </span><span><textarea  id="change_content" style="width:300px; height:200px"></textarea></span></center>
    <p></p>
    <center><input type="button" id="change_ok" value="确认">   or    <input type="button" id="change_cancel" value="取消"></center>
 
</div>
<hr>
<p>生产均衡负载</p>
<p>
<input type="button"  name="slb" id="alone" value="alone模式" >
<input type="button"  name="slb" id="normal" value="normal模式" >
</p>
<table border=1 style="background-color:#333333">
<tr><th>服务器ID</th>
<th>服务权重</th>
<th>当前状态</th>
<th>执行操作</th>
</tr>
{{$status:=.status}} 
 {{range $s:=.slb}}
 <tr><td>{{ $s.ServerId}}</td>
 <td><center>{{$s.Weight}}</center></td>
<td>
{{range $st:=$status}} 
    {{if eq $st.ServerId $s.ServerId}}
        {{$curStatus:=$st.ServerHealthStatus}}
        {{$curStatus}}
    {{end}}
{{end}}
</td>
<td>
{{if eq $s.Weight "0"}}
   <input type="button"  name="slb" id="{{$s.ServerId}}_1" value="开启" >
{{else}}
   <input type="button"  name="slb" id="{{$s.ServerId}}_0" value="关闭" >
{{end}}
</td>
</tr>
 {{end}}
</table>
<hr>
<p>操作历史</p>
<pre>{{.log}}</pre>
</div>
<script src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/layui.js"></script>
<script type="text/javascript" src="js/treatment.js"></script>
<script>
$(document).ready(function(){
    layui.use('layer', function () {

    var root = getCookieValue("rootCode")
        if(root!='devops'){
        window.location.href="/"
        }

$("#reload").click(function(){
window.location.reload()
})
$("span[name='config']").bind("click",function(){
  var name = $(this).attr('id')
  $.ajax({
      url:"/opt/config",
      method:"GET",
      data:{
          name:name
      }
  }).done(function(msg){
      ErroAlert(msg.result)  
     } );
})
$("span[name='change_config']").bind("click",function(){
  var name = $(this).attr('id')
  $.ajax({
      url:"/opt/config",
      method:"GET",
      data:{
          name:name
      }
  }).done(function(msg){
    $("#change_content").val(msg.result)
    $("#change_name").val(name)
    $("#change_div").show()       
     } );
})

$("#change_ok").click(function(){
  $("#change_ok").val("更新中")
  $("#change_ok").attr("disabled","disabled")
  $.ajax({
      url:"/opt/changeconfig",
      method:"POST",
      data:{
          name:$("#change_name").val(),
          pwd:$("#change_pwd").val(),
          content:$("#change_content").val()
          }
  }).done(function(msg){
      ErroAlert(msg.result)
      $("#change_ok").removeAttr("disabled")
  $("#change_ok").val("确定")
      if(msg.result=="更新成功"){
          $("#change_div").hide()
      }
  })
})
    
$("#change_cancel").click(function(){
    $("#change_div").hide()       
})

$("input[name='slb']").click(function(){  
      $(this).attr("disabled",true);  
  var name = $(this).attr('id')
  $.ajax({
      url:"/opt/slbConfig",
      method:"POST",
      data:{
          name:$(this).attr('id'),
          pwd:$("#product-pwd").val()
          }
  }).done(function(msg){
      ErroAlert(msg.result); 
      if(msg.result=="无权执行"){
        $("#"+name).attr("disabled",false);
      }else{
      window.location.reload();
      }
     } );
})
$("#update_all_close").click(function(){
    $("#update_all").hide();       
})
$("span[name='update_all']").bind("click",function(){
    $("#update_all_content").html("正在更新后端");
    $("#update_all").show();       
  var name = $(this).attr('id')
    var pwd=$("#"+name+"-pwd").val();
  $.ajax({
      url:"/opt/run",
      method:"POST",
      data:{
          name:name+"-end-update",
          pwd:pwd,
          }
  }).done(function(msg){
      if(msg.result=="更新成功"){
        $("#update_all_content").html("后端更新完毕，正在更新前端....");
  $.ajax({
      url:"/opt/run",
      method:"POST",
      data:{
          name:name+"-front-update",
          pwd:pwd,
          }
  }).done(function(msg){
      if(msg.result=="更新成功"){
        $("#update_all_content").html("前后端更新完毕");
        if(name=='stg'){
  $.ajax({
      url:"/opt/slbConfig",
      method:"POST",
      data:{
          name:"alone",
          pwd:$("#product-pwd").val()
          }
  }).done(function(msg){
      if(msg.result=="ok"){
        $("#update_all_content").html("前后端更新完毕,自动切换alone模式成功");
      }
      else{
        $("#update_all_content").html("前后端更新完毕,自动切换alone模式失败："+msg.result);
      }
      })
        }
        
        if(name=='product'){
  $.ajax({
      url:"/opt/slbConfig",
      method:"POST",
      data:{
          name:"normal",
          pwd:pwd
          }
  }).done(function(msg){
      if(msg.result=="ok"){
        $("#update_all_content").html("前后端更新完毕,自动切换normal模式成功");
      }
      else{
        $("#update_all_content").html("前后端更新完毕,自动切换normal模式失败："+msg.result);
      }
      })
        }
    
      }
      else{
        $("#update_all_content").html("前端更新失败");
      }
      })
      }
      else{
        $("#update_all_content").html("后端更新失败");
      }
    })
})

$("button").click(function(){  
    var title = $(this).html()
  $(this).html("执行中...")  
  var name = $(this).attr('id')
      tmp = name.split('-')
      $("#"+name).attr("disabled",true);  
  $.ajax({
      url:"/opt/run",
      method:"POST",
      data:{
          name:name,
          pwd:$("#"+tmp[0]+"-pwd").val(),
          }
  }).done(function(msg){
      ErroAlert(msg.result)  
      $("#"+name).html(title)
      $("#"+name).attr("disabled",false);  
     } );
})
    })
})
</script>
