<style type="text/css" >
.succ-pop{
    width: 400px;
    height: 300px;
    background: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -150px;
    z-index: 999;
    border-radius: 5px;
    border:3px solid #000;
    display:none;
} 
</style>
<h2>ICTOP<h4> - 生命不息 运维不止, 欢迎来到昆仑健康智能运维平台</h4></h2>
<h3>自动监控：{{.console_status}}
<h3><input type="button"  value="手动刷新" id ="reload"></h3>
<hr>
<table border=1>
<tr><th>env</th><th>front</th><th>end</th><th>pc</th><th>wechat</th><th>config</th></tr>
 {{range $item := .envs}}
 <tr><td>{{ $item.Title }}</td><td>
 集群:<span id="{{$item.Name}}-front-num">{{$item.Number}}</span>台
 <button type="button"  style="border:1px solid #FF9933 ;" id="{{$item.Name}}-front">执行更新</button>
 <input type="password" id="{{$item.Name}}-front-pwd" placeholder="执行密码" />
 </td>
 <td>
 集群:<span id="{{.Name}}-java-num">{{$item.Number}}</span>台
 <button type="button"  style="border:1px solid #FF9933 ;"  id="{{ $item.Name }}-java">执行更新</button>
 <input type="password" id="{{$item.Name}}-java-pwd" placeholder="执行密码" /> 
 </td><td>{{$item.Pc }}</td><td>{{$item.Wechat}}</td>
 <td><span name="config" id="{{$item.Name}}">查看</span> | <span name="change_config" id="{{$item.Name}}">编辑</span></td><tr>
 {{end}}
</table>
<div class="succ-pop" id="change_div" >
    <center>执行操作:<input type="button" id="backup" value="备份数据库"></center>
    <center><span>    密码: </span><span><input id="change_pwd" type="password"></span></center>
    <p><input id="change_name" type="hidden" ></p>
    <center><span>    内容: </span><span><textarea  id="change_content" style="width:300px; height:200px"></textarea></span></center>
    <p></p>
    <center><input type="button" id="change_ok" value="确认">   or    <input type="button" id="change_cancel" value="取消"></center>
 
</div>
<hr>
<p>操作历史</p>
<pre>{{.log}}</pre>

<script src="/js/jquery-3.2.1.min.js"></script>
<script>
$("#reload").click(function(){
window.location.reload()
})
$("span[name='config']").bind("click",function(){
  var name = $(this).attr('id')
  $.ajax({
      url:"/opt/config",
      method:"GET",
      data:{
          name:name
      }
  }).done(function(msg){
      alert(msg.result)  
     } );
})
$("span[name='change_config']").bind("click",function(){
  var name = $(this).attr('id')
  $.ajax({
      url:"/opt/config",
      method:"GET",
      data:{
          name:name
      }
  }).done(function(msg){
    $("#change_content").val(msg.result)
    $("#change_name").val(name)
    $("#change_div").show()       
     } );
})

$("#backup").click(function(){
  $("#backup").val("备份中")
  $("#backup").attr("disabled","disabled")
  $.ajax({
      url:"/opt/dumpdb",
      method:"POST",
      data:{
          name:$("#change_name").val(),
          pwd:$("#change_pwd").val(),
          }
  }).done(function(msg){
      alert(msg.result)
      $("#backup").removeAttr("disabled")
      $("#backup").val("备份数据库")
  })
})
    
$("#change_ok").click(function(){
  $("#change_ok").val("更新中")
  $("#change_ok").attr("disabled","disabled")
  $.ajax({
      url:"/opt/changeconfig",
      method:"POST",
      data:{
          name:$("#change_name").val(),
          pwd:$("#change_pwd").val(),
          content:$("#change_content").val()
          }
  }).done(function(msg){
      alert(msg.result)
      $("#change_ok").removeAttr("disabled")
  $("#change_ok").val("确定")
      if(msg.result=="更新成功"){
          $("#change_div").hide()
      }
  })
})
    
$("#change_cancel").click(function(){
    $("#change_div").hide()       
})

$("button").click(function(){  
  $(this).html("更新中...")  
  var name = $(this).attr('id')
      $("#"+name).attr("disabled",true);  
  $.ajax({
      url:"/opt/run",
      method:"POST",
      data:{
          name:$(this).attr('id'),
          pwd:$("#"+name+"-pwd").val(),
          num:$("#"+name+"-num").html()
          }
  }).done(function(msg){
      $("#"+name).html(msg.result)  
      $("#"+name).attr("disabled",false);  
     } );
})

$(document).ready(function(){
})
</script>
